[submodule "external/color"]
	path = external/color
	url = git@github.com:Sani7/cpp_color_lib.git
[submodule "external/timer"]
	path = external/timer
	url = git@github.com:Sani7/cpp_timer.git
[submodule "external/websocketpp"]
	path = external/websocketpp
	url = git@github.com:Sani7/websocketpp.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
