[submodule "external/color"]
	path = external/color
	url = https://github.com/Sani7/cpp_color_lib.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/cpp-templates"]
	path = external/cpp-templates
	url = https://github.com/Sani7/cpp-templates.git
[submodule "external/qwt"]
	path = external/qwt
	url = https://github.com/Sani7/qwt.git
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/git_tag_cpp"]
	path = external/git_tag_cpp
	url = https://github.com/Sani7/git_tag_cpp.git
